/* 引入本地 Iconfont 字体包 */
@font-face {
  font-family: "iconfont";
  src:
       url('../images/icon/iconfont.woff2?t=1771582987912') format('woff2'),
       url('../images/icon/iconfont.woff?t=1771582987912') format('woff'),
       url('../images/icon/iconfont.ttf?t=1771582987912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 导航图标 */
.icon-shouye:before {
  content: "\e786";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-guidangchaxun_click:before {
  content: "\e60d";
}

.icon-guanyuwomen:before {
  content: "\fbd2";
}

.icon-gonggao:before {
  content: "\f301";
}

/* 联系方式图标 */
.icon-youxiang:before {
  content: "\e672";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-weixin:before {
  content: "\e6ea";
}

.icon-tuite:before {
  content: "\e600";
}

.icon-dianbao:before {
  content: "\e648";
}

/* 技术栈图标 */
.icon-html:before {
  content: "\e632";
}

.icon-css:before {
  content: "\e61e";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-bilibili:before {
  content: "\e609";
}

/* 新增图标 */
.icon-ziyuan:before {
  content: "\e601";
}

.icon-May_th_icon:before {
  content: "\e605";
}

.icon-alibaba:before {
  content: "\e60b";
}
